#page-consult-form {
    /* This display: flex kills the max-width intelligence */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

strong {
    font: 600 12px Open Sans;
    line-height: 16px;
    color: var(--color-text-secundary)
}

h6 {
    font: 12px Open Sans;
    line-height: 16px;
    color: var(--color-text)
}

header {
    display: flex;
    width: 100vw;
    height: 55px;
    background: var(--color-header);
}

header img {
    margin-left: 24px;
}

.consult-container {
    width: calc(1100px + 40px);
    margin-top: 50px
}

.consult-container h1 {
    font: 600 24px Open Sans;
    line-height: 33px;
    color: var(--color-primary)
}

.title-separator {
    border: 1px solid var(--color-line-in-white);
    margin-top: 15px;
    margin-bottom: 25px;
}

.cards-container {}

.left-column-area {
    float: left;
    margin-right: 40px;
}

.right-columns-area {
    float: right;
}

.darf-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.darf-left-column-content {
    display: flex;
    width: 270px;
    flex-direction: column;
    align-items: flex-start;
}

.darf-right-column-content {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
}

.card-text-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.payment-file-button {
    display: flex;
    width: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 300ms;
}

.payment-file-button:hover {
    opacity: 0.5;
}

.payment-file-button h4 {
    font: 800 12px Open Sans;
}

.tpei-content {
    width: 124px;
}


.teor-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.teor-address-content {
    cursor: pointer;
}

.teor-address-content div {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    transition: opacity 300ms;
}

.teor-address-content div:hover {
    opacity: 0.5;
}

.teor-address-content div h6 {
    margin-right: 10px;
}