.pdf-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-pdf-button {
    display: flex;
    width: 100%;
    font: 16px Open Sans;
    justify-content: flex-end;
    align-items: center;
    line-height: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 300ms;
}

.modal-pdf-button:hover {
    opacity: 0.5;
}

.modal-pdf-button h6 {
    margin-right: 5px;
}