.loading-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}