.card-box {
    display: flex;
    width: 550px;
    height: 100%;
    background: var(--color-card-background);
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 500px; */

    transition: opacity 300ms;
}

.reload-button:hover{
    opacity: 0.5;
}

.card-content h3 {
    font: 600 24px Open Sans;
    line-height: 33px;
    color: var(--color-primary);
    margin-top: 20px;
}

.card-content p {
    font: 400 12px Open Sans;
    line-height: 16px;
    color: var(--color-text);
    margin-top: 10px;
}

.card-content hr {
    border: 1px solid var(--color-line-in-white);
    margin-top: 10px;
    margin-bottom: 15px;
}

.children-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.pendent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.pendent-container h4 {
    font: 18px Open Sans;
    color: var(--color-secundary);
    margin-left: 5px;
}

.not-pendent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.not-pendent-container h4 {
    font: 18px Open Sans;
    color: var(--color-text-success);
    margin-left: 5px;
}