.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.close-modal {
    margin-right: 30px;
    margin-bottom: 660px;
    transition: opacity 300ms;
}
.close-modal:hover {
    opacity: 0.5;
}